<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397846035036-2ltqatn8899earflbtfr2tooi1vh944v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397846035036-2ltqatn8899earflbtfr2tooi1vh944v</string>
	<key>API_KEY</key>
	<string>AIzaSyDnhhgfKtdYybOevl7Szd6FvtdC1W8LIa8</string>
	<key>GCM_SENDER_ID</key>
	<string>397846035036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sightschooting.admin.SightScooting-Admin</string>
	<key>PROJECT_ID</key>
	<string>sightscooting-1db72</string>
	<key>STORAGE_BUCKET</key>
	<string>sightscooting-1db72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397846035036:ios:7127392762f4825c010499</string>
</dict>
</plist>